{% extends 'admin/admin_base.html.twig' %}

{% form_theme form with ['_form/phone_form.html.twig'] %}
{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
            {{ form_errors(form) }}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title align-items-center d-flex mb-0">
                        <i class="ri-user-2-line me-1"></i>
                        {{ 'ui.personal_info'|trans }}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">{{ form_row(form.firstName) }}</div>
                        <div class="col">{{ form_row(form.lastName) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.email) }}</div>
                        {#                        <div class="col">{{ form_row(form.username) }}</div>#}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.phones) }}
                    </div>
                    {{ form_row(form.address) }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {# Profile Img #}
            {% set avatar = asset('build/images/users/user-dummy-img.jpg') %}
            {% if user.profileImg %}
                {% set avatar = vich_uploader_asset(user, 'profileFile') %}
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ 'ui.profile_pic'|trans }}</h5>
                </div>
                <div class="card-body p-4">
                    <div class="text-center">
                        <div class="profile-user position-relative d-inline-block mx-auto mb-4">
                            <img src="{{ avatar }}" alt="user profile image" class="rounded-circle avatar-xl img-thumbnail user-profile-image">
                            <div class="avatar-xs p-0 rounded-circle profile-photo-edit"></div>
                            {{ form_widget(form.profileFile, {'attr': {'class': 'profile-img-file-input'}}) }}
                            <label for="{{ form.profileFile.file.vars.id }}" class="profile-photo-edit avatar-xs">
                                <span class="avatar-title rounded-circle bg-light text-body">
                                    <i class="ri-camera-fill"></i>
                                </span>
                            </label>
                        </div>
                        <h5 class="fs-16 mb-1">{{ user }}</h5>
                        <p class="text-muted mb-0">{{ user.username }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-label">
                    <i class="las la-save label-icon"></i> {{ "ui.button.save"|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}