{% extends 'base.html.twig' %}

{% block layout %}horizontal{% endblock %}

{% block title %}{{ 'ui.seo.title.login'|trans }} {{ parent() }}{% endblock %}

{% set settings = settings_manager.get() %}
{% block body %}
    <div class="auth-page-wrapper pt-5 m-t-40">
        <div class="auth-page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">
                            <div class="card-body">
                                <h3 class="text-center mt-0 m-b-15">
                                    <a href="{{ path('homepage') }}" class="logo logo-admin">
                                        {% if settings.logo %}
                                            <img src="{{ vich_uploader_asset(settings, 'logoFile')|imagine_filter('small_logo') }}" alt="logo">
                                        {% else %}
                                            <img src="{{ asset('images/logo.png') }}" width="200" alt="logo">
                                        {% endif %}
                                    </a>
                                </h3>
                                <h4 class="text-muted text-center font-18"><b>{{ 'ui.title.login'|trans }}</b></h4>

                                <div class="p-3">
                                    <form class="form-horizontal m-t-20" method="post" action="{{ path('security_login') }}">
                                        {% if error is defined and error is not null %}
                                            <div class="alert alert-danger">
                                                {{ error.messageKey|trans(error.messageData, 'security') }}
                                            </div>
                                        {% endif %}
                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <label for="username">{{ 'form.label.username'|trans({}, 'form') }}</label>
                                                <input type="text" id="username" name="_username" value="{{ last_id }}" class="form-control" autofocus="autofocus"/>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <label for="password">{{ 'form.label.password'|trans({}, 'form') }}</label>
                                                <input type="password" id="password" name="_password" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <div class="form-check align-items-center d-flex gap-1">
                                                    <input name="_remember_me" type="checkbox" class="form-check-input" id="login_remember_me">
                                                    <label class="form-check-label" for="login_remember_me">{{ 'form.label.remember_me'|trans({}, 'form') }}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group text-center row m-t-20">
                                            <div class="col-12">
                                                <button class="btn btn-info btn-block" type="submit">
                                                    <i class="las la-sign-in-alt"></i> {{ 'ui.button.login'|trans }}
                                                </button>
                                            </div>
                                        </div>

{#                                        <div class="form-group m-t-10 mb-0 row">#}
{#                                            <div class="col-sm-7 m-t-20">#}
{#                                                <a href="{{ path('resetting_request') }}" class="text-muted">#}
{#                                                    <i class="mdi mdi-lock"></i> {{ 'ui.forgot_password'|trans }}#}
{#                                                </a>#}
{#                                            </div>#}
{#                                        </div>#}
                                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
