<div class="row">
    <div class="col">
        <h4 class="fw-medium">Macronutrients</h4>
        <table class="table table-sm table-striped">
            <tbody>
            <tr>
                <td>{{ 'ui.protein'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('protein') }} g</td>
            </tr>
            <tr>
                <td>{{ 'ui.carbohydrate'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('carbohydrate') }} g</td>
            </tr>
            <tr>
                <td>{{ 'ui.fat'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('fat') }} g</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h4 class="fw-medium">Micronutrients</h4>
        <table class="table table-sm table-striped">
            <tbody>
            <tr>
                <td>{{ 'ui.total_sugar'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('totalSugar') }} g</td>
            </tr>
            <tr>
                <td>{{ 'ui.calcium'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('calcium') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.iron'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('iron') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.phosphorus'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('phosphorus') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.mono_saturated_fatty_acids'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('monoSaturatedFattyAcids') }} g</td>
            </tr>
            <tr>
                <td>{{ 'ui.poly_saturated_fatty_acids'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('polySaturatedFattyAcids') }} g</td>
            </tr>
            <tr>
                <td>{{ 'ui.saturated_fatty_acids'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('saturatedFattyAcids') }} g</td>
            </tr>
            <tr>
                <td>{{ 'ui.magnesium'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('magnesium') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.manganese'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('manganese') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.potassium'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('potassium') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.selenium'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('selenium') }} ug</td>
            </tr>
            <tr>
                <td>{{ 'ui.sodium'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('sodium') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminA'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminAretinol') }} ug</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminB1'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminB1thiamin') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminB12'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminB12cobalamin') }} ug</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminB2'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminB2riboflavin') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminB3'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminB3niacin') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminB6'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminB6pyridoxine') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminB7'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminB7biotin') }} ug</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminC'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminC') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.vitaminE'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('vitaminE') }} mg</td>
            </tr>
            <tr>
                <td>{{ 'ui.zinc'|trans }}</td>
                <td class="text-right">{{ mealOption.totalNutritionalValue('zinc') }} mg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>