{% block _meal_plan_meals_entry_row %}
    <div class="card" data-collection-item>
        <div class="card-header">
            {% if form.vars.data %}
                <div class="row">
                    <p class="text-body text-muted text-uppercase">
                        <span class="fw-medium me-2">
                            {{ form.vars.data.type }}
                        </span>
                        {{ form.vars.data.time }}
                    </p>
                </div>
            {% endif %}
            <ul class="nav nav-tabs-custom card-header-tabs nav-success border-bottom-0 align-items-center">
                <li class="nav-item">
                    <a href="#meal-options-{{ form.vars.id }}" class="nav-link active" data-bs-toggle="tab">
                        {{ 'ui.meal_options'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#nutrition-{{ form.vars.id }}" class="nav-link" data-bs-toggle="tab">
                        {{ 'ui.nutritional_info'|trans }}
                    </a>
                </li>
                <li class="nav-item me-2" style="margin-left: auto">
                    <a data-bs-toggle="collapse" href="#{{ form.vars.id }}" class="text-muted">
                        <i class="ri-arrow-down-s-line fs-22"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body collapse show" id="{{ form.vars.id }}">
            <div class="row">
                <div class="col-lg-3">{{ form_row(form.time) }}</div>
                <div class="col-lg-4">
                    <div class="form-group">
                        {{ form_label(form.type) }}
                        <div class="input-group">
                            {{ form_widget(form.type) }}
                            <button onclick="editModal('{{ path('admin_meal_type_new', {'target_id': form.type.vars.id}) }}', 'body', null, addDataToChosen)"
                                    type="button" class="input-group-text">
                                <i class="ri ri-add-line"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active show" id="meal-options-{{ form.vars.id }}">
                    <div class="bg-light-subtle pt-1 border-dark-subtle">
                        <div class="accordion custom-accordion-border accordion-border-box accordion-success" id="meal-option-{{ form.vars.id }}">
                            {{ form_row(form.options) }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="nutrition-{{ form.vars.id }}">
                    {% if form.vars.data %}
                        {% include 'default/_meal_nutritional_info.html.twig' with {'meal': form.vars.data} %}
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row align-items-center">
                <div class="col-sm">
                    <div class="d-flex flex-wrap my-n1 justify-content-start">
                        <a href="javascript:void(0)" class="btn btn-soft-danger me-2"
                            onclick="removeCollection(this)">
                            <i class="ri-delete-bin-fill align-bottom me-1"></i>
                            {{ 'ui.remove'|trans }}
                        </a>
                        <a href="javascript:void(0)" class="btn btn-outline-primary"
                           onclick="addOptionCollection(this, '__option__')" data-collection-id="{{ form.options.vars.id }}">
                            <i class="ri-add-line align-bottom me-1"></i>
                            {{ 'ui.add_meal_option'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock _meal_plan_meals_entry_row %}

{% block _meal_plan_meals_entry_time_row %}
    {{ form_label(form) }}
    <div class="input-group">
        {{ form_widget(form) }}
        <span class="input-group-text">
            <i class="ri-time-line"></i>
        </span>
    </div>
{% endblock _meal_plan_meals_entry_time_row %}

{% block _meal_plan_meals_entry_options_entry_row %}
    <div class="accordion-item" data-collection-item>
        <h2 class="accordion-header">
            <button type="button" class="accordion-button{{ form.vars.data and form.vars.valid ? ' collapsed' : ''}}" data-bs-toggle="collapse" data-bs-target="#{{ form.vars.id }}">
                {{ 'ui.option'|trans }}
                {% if form.vars.data %}
                    {{ form.vars.name == "0" ? 1 : form.vars.name|number_format + 1 }}
                {% else %}
                    __key__
                {% endif %}
            </button>
        </h2>
        <div class="accordion-collapse collapse {{ form.vars.data and form.vars.valid ? 'collapsed' : 'show'}}" id="{{ form.vars.id }}">
            <ul class="nav nav-tabs-custom align-items-center">
                <li class="nav-item">
                    <a href="#food-items-{{ form.vars.id }}" class="nav-link active" data-bs-toggle="tab">
                        {{ 'ui.food_items'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#rich-text-{{ form.vars.id }}" class="nav-link" data-bs-toggle="tab">
                        {{ 'ui.free_text'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#nutritional-value-{{ form.vars.id }}" class="nav-link" data-bs-toggle="tab">
                        {{ 'ui.nutritional_value'|trans }}
                    </a>
                </li>
            </ul>
            <div class="accordion-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="food-items-{{ form.vars.id }}">
                        <div class="row align-items-center mb-2">
                            <div class="col-4">{{ 'ui.food_items'|trans }}</div>
                            <div class="col-2">{{ 'form.label.measuring_unit'|trans({}, 'form') }}</div>
                            <div class="col pe-0">{{ 'ui.quantity'|trans }}</div>
                            <div class="col px-0">{{ 'ui.protein'|trans }}</div>
                            <div class="col px-0">{{ 'ui.carbs'|trans }}</div>
                            <div class="col px-0">{{ 'ui.fat'|trans }}</div>
                            <div class="col px-0">{{ 'ui.calories'|trans }}</div>
                            <div class="col-auto mx-2"></div>
                        </div>
                        {{ form_row(form.foodItemEntries) }}
                        <div class="row align-items-center py-2 bg-light">
                            <div class="col-4"></div>
                            <div class="col-2"></div>
                            <div class="col total-quantity">
                                {% if form.vars.data %}{{ form.vars.data.totalQuantity }} g{% endif %}
                            </div>
                            <div class="col total-protein">
                                {% if form.vars.data %}{{ form.vars.data.totalProtein }} g{% endif %}
                            </div>
                            <div class="col total-carbs">
                                {% if form.vars.data %}{{ form.vars.data.totalCarbs }} g{% endif %}
                            </div>
                            <div class="col total-fat">
                                {% if form.vars.data %}{{ form.vars.data.totalFat }} g{% endif %}
                            </div>
                            <div class="col total-calories">
                                {% if form.vars.data %}{{ form.vars.data.totalCalories }} kcal{% endif %}
                            </div>
                            <div class="col-auto mx-4 px-0">&nbsp;</div>
                            <div class="d-none">{{ form_widget(form.totalQuantity, {attr: {'class': 'option-total-quantity'}}) }}</div>
                            <div class="d-none">{{ form_widget(form.totalProtein, {attr: {'class': 'option-total-protein'}}) }}</div>
                            <div class="d-none">{{ form_widget(form.totalCarbs, {attr: {'class': 'option-total-carbs'}}) }}</div>
                            <div class="d-none">{{ form_widget(form.totalFat, {attr: {'class': 'option-total-fat'}}) }}</div>
                            <div class="d-none">{{ form_widget(form.totalCalories, {attr: {'class': 'option-total-calories'}}) }}</div>
                        </div>
                        <div class="d-flex flex-wrap mt-4 justify-content-end">
                            <a href="javascript:void(0)" onclick="addCollection(this, '__foodEntry__')" data-collection-id="{{ form.foodItemEntries.vars.id }}">
                                <i class="ri-add-circle-line align-bottom"></i>
                                {{ 'ui.add_food_entry'|trans }}
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane" id="rich-text-{{ form.vars.id }}">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="tab-pane" id="nutritional-value-{{ form.vars.id }}">
                        {% if form.vars.data %}
                            {% include 'default/_nutritional_info.html.twig' with {'mealOption': form.vars.data} %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">{{ form_row(form.notes) }}</div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-end">
                <a href="javascript:void(0)" class="d-block text-danger p-1 px-2"
                   onclick="removeCollection(this)">
                    <i class="ri-delete-bin-fill align-bottom me-1"></i>
                    {{ 'ui.remove'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock _meal_plan_meals_entry_options_entry_row %}

{% block _meal_plan_meals_entry_options_entry_foodItemEntries_entry_row %}
    <div class="row align-items-center mb-3" data-collection-item>
        <div class="col-lg-4">{{ form_widget(form.foodItem) }}</div>
        <div class="col-lg-2">
            <div class="input-group">
                {{ form_widget(form.measurement) }}
                <button onclick="editModal('{{ path('admin_food_measurement_new', {'target_id': form.measurement.vars.id}) }}', 'body', null, addDataToChosen)"
                        type="button" class="input-group-text">
                    <i class="ri ri-add-line"></i>
                </button>
            </div>
        </div>
        <div class="col">{{ form_widget(form.quantity) }}</div>
        <div class="col">
            <div class="protein">
                {% if form.vars.data %}
                    {{ form.vars.data.totalNutritionalValue('protein') }} g
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="carbs">
                {% if form.vars.data %}
                    {{ form.vars.data.totalNutritionalValue('carbohydrate') }} g
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="fat">
                {% if form.vars.data %}
                    {{ form.vars.data.totalNutritionalValue('fat') }} g
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="calories">
                {% if form.vars.data %}
                    {{ form.vars.data.totalCalories }} kcal
                {% endif %}
            </div>
        </div>
        <div class="col-auto ps-0">
            <button type="button" class="btn btn-icon btn-soft-danger" onclick="removeCollection(this)">
                <i class="ri-delete-bin-5-line"></i>
            </button>
        </div>
    </div>
{% endblock _meal_plan_meals_entry_options_entry_foodItemEntries_entry_row %}