{# Labels #}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- if type is defined and type == 'file' %}
            {#{%- set label_attr = label_attr|merge({for: id, class: (label_attr.class|default('') ~ ' custom-file-label')|trim}) -%}#}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% if required %} <sup><i class="las la-asterisk fa-xs text-primary"></i></sup>{% endif %}
        </{{ element|default('label') }}>
    {%- else -%}
        {#{%- if errors|length > 0 -%}#}
        {#<div id="{{ id }}_errors" class="mb-2">#}
        {#{{- form_errors(form) -}}#}
        {#</div>#}
        {#{%- endif -%}#}
    {%- endif -%}
{%- endblock form_label %}

{# Rows #}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'div' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }} class="form-group">
    {{- form_label(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
    {% block form_label_errors %}{{- form_errors(form) -}}{% endblock form_label_errors %}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{# Help #}

{% block form_help -%}
    {%- if help is not empty -%}
        {% set help_class = (form.vars.attr.helpClass|default('') ~ ' form-text text-muted')|trim %}
        <small id="{{ id }}_help" class="{{ help_class }}">
            <i class="las la-question-circle m-r-5"></i>
            {%- if translation_domain is same as(false) -%}
                {{- help -}}
            {%- else -%}
                {{- help|trans({}, translation_domain) -}}
            {%- endif -%}
        </small>
    {%- endif -%}
{%- endblock form_help %}

{% block checkbox_row %}
    <div class="form-group">
        {#<div class="{{ block('form_label_class') }}"></div>#}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form, {parent_label_class : 'checkbox-custom'}) -}}
            {#{{- form_errors(form) -}}#}
        </div>
    </div>
{% endblock checkbox_row %}

{% block address_row %}
    <div class="row">
        <div class="col">{{ form_row(form.lineOne) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.lineTwo) }}</div>
        <div class="col">{{ form_row(form.city) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.zipCode) }}</div>
        <div class="col">{{ form_row(form.state) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.country) }}</div>
    </div>
{% endblock address_row %}