{% extends 'base.html.twig' %}

{% block title %}{{ 'ui.professionals'|trans }}{% endblock %}

{% set settings = settings_manager.get() %}

{% block body %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">{{ 'ui.professionals'|trans }}</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="#">{{ settings.name }}</a></li>
                                <li class="breadcrumb-item active">{{ 'ui.professionals'|trans }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive table-card">
                    <table class="table table-striped align-middle">
                        <thead class="text-muted table-light">
                            <th></th>
                            <th>{{ 'ui.name'|trans }}</th>
                            <th>{{ 'ui.email'|trans }}</th>
                            <th>{{ 'ui.phone'|trans }}</th>
                            <th>{{ 'ui.website'|trans }}</th>
                            <th>{{ 'ui.active'|trans }}</th>
                            <th>{{ 'ui.action'|trans }}</th>
                        </thead>
                        <tbody>
                            {% for professional in professionals %}
                                <tr>
                                    <td>
                                        {% if professional.profileImg %}
                                            <img class="d-inline" src="{{ vich_uploader_asset(professional, 'profileFile') }}" alt="{{ professional.user }}" height="12px">
                                        {% endif %}
                                    </td>
                                    <td>{{ professional.user }}</td>
                                    <td>{{ professional.user.email }}</td>
                                    <td>{{ professional.user.phoneNumber }}</td>
                                    <td>{{ professional.website }}</td>
                                    <td>{{ professional.user.enabled ? 'Yes' : 'No' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}