{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">{{ 'ui.diet_plans'|trans }}</li>
    <li class="breadcrumb-item active">{{ 'ui.food_items'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header border-bottom-dashed">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm">
                            <h5 class="card-title mb-0">{{ 'ui.food_items'|trans }}</h5>
                        </div>
                        <div class="col-sm-auto">
                            <div class="d-flex flex-wrap align-items-start gap-2">
                                <a href="{{ path('professional_food_new_food') }}" class="btn btn-primary btn-label right">
                                    <i class="ri-add-line label-icon"></i>
                                    {{ 'ui.button.new_food_item'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="card-body border-bottom-dashed border-bottom">#}
{#                    <div class="row g-3">#}
{#                        <div class="col">Col 1</div>#}
{#                        <div class="col">Col 2 - Filter</div>#}
{#                    </div>#}
{#                </div>#}
                <div class="card-body">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-striped mb-0">
                            <thead class="text-muted table-light">
                                <th>
                                    <i class="bx bx-sort-alt-2 align-middle"></i>
                                    {{ knp_pagination_sortable(pagination, 'ui.key'|trans, 'o.foodKey') }}
                                </th>
                                <th>
                                    <i class="bx bx-sort-alt-2 align-middle"></i>
                                    {{ knp_pagination_sortable(pagination, 'ui.name'|trans, 'o.name') }}
                                </th>
                                <th>
                                    <i class="bx bx-sort-alt-2 align-middle"></i>
                                    {{ knp_pagination_sortable(pagination, 'ui.description'|trans, 'o.description') }}
                                </th>
                                <th>
                                    <i class="bx bx-sort-alt-2 align-middle"></i>
                                    {{ knp_pagination_sortable(pagination, 'ui.category'|trans, 'o.classificationName') }}
                                </th>
                                <th>{{ 'ui.action'|trans }}</th>
                            </thead>
                            <tbody>
                                {% for food in pagination %}
                                    <tr>
                                        <td>
                                            <a class="fw-medium" href="{{ path('professional_food_edit_food', {'foodKey': food.foodKey}) }}">
                                                {{ food.foodKey }}
                                            </a>
                                        </td>
                                        <td>{{ food.name }}</td>
                                        <td>{{ food.description|nl2br }}</td>
                                        <td>{{ food.classificationName }}</td>
                                        <td nowrap>
                                            <a class="btn btn-sm btn-light"
                                               href="{{ path('professional_food_edit_food', {'foodKey': food.foodKey}) }}">
                                                {{ 'ui.edit'|trans }}
                                            </a>
                                            <button type="button" class="btn btn-sm btn-soft-danger"
                                                    onclick="removeUser('{{ path('professional_food_remove_food', {'foodKey': food.foodKey}) }}')">
                                                <i class="ri-delete-bin-5-line align-middle"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        {# display navigation #}
                        <div class="d-flex justify-content-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}