<div class="card">
    <div class="card-header border-bottom-dashed">
        <div class="row g-4 align-items-center">
            <div class="col-sm">
                <h5 class="card-title mb-0 d-flex align-items-center">
                    <i class="ri-restaurant-2-line fs-4 me-1"></i>
                    {{ 'ui.diet_plans'|trans }}
                </h5>
            </div>
            <div class="col-auto">
                <a href="{{ path('professional_customer_new_meal_plan', {'id': customer.id}) }}"
                   class="btn btn-sm btn-primary">
                   {{ 'ui.new_meal_plan'|trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        {% if customer.mealPlans|length %}
            <div class="table-responsive table-card text-start">
                <table class="table align-middle mb-0">
                    <thead class="text-muted table-light">
                        <th>{{ 'ui.name'|trans }}</th>
                        <th>{{ 'ui.description'|trans }}</th>
                        <th>{{ 'ui.days'|trans }}</th>
                        <th>{{ 'ui.status'|trans }}</th>
                        <th>{{ 'ui.actions'|trans }}</th>
                    </thead>
                    <tbody>
                    {% for mealPlan in customer.mealPlans %}
                        <tr>
                            <td>{{ mealPlan.title }}</td>
                            <td>{{ mealPlan.description }}</td>
                            <td>
                                {{ include('includes/_meal_plan_days.html.twig') }}
                            </td>
                            <td>
                                {% if mealPlan.active %}
                                    <span class="badge bg-success-subtle text-success">{{ 'ui.active'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-danger-subtle text-danger">{{ 'ui.inactive'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   href="{{ path('professional_meal_plan_edit', {'id': mealPlan.id}) }}">
                                    {{ 'ui.details'|trans }}
                                </a>
                                <button type="button" class="btn btn-sm btn-soft-danger"
                                        onclick="removeEntity('{{ path('professional_meal_plan_remove', {'id': mealPlan.id}) }}')">
                                    <i class="ri-delete-bin-5-line align-middle"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="avatar-lg mx-auto mb-3">
                <div class="avatar-title bg-success-subtle text-success fs-48 rounded">
                    <i class="bx bx-bowl-rice"></i>
                </div>
            </div>
            <h4 class="card-title">{{ 'no_meal_plans'|trans }}</h4>
            <p class="card-text text-muted">{{ 'add_meal_plan_text'|trans }}</p>
            <a href="{{ path('professional_customer_new_meal_plan', {'id': customer.id}) }}" class="btn btn-success">{{ 'ui.button.create_meal_plan'|trans }}</a>
        {% endif %}
    </div>
</div>