{% extends 'base.html.twig' %}

{% block layout %}horizontal{% endblock %}

{% block title %}{{ 'ui.request'|trans }} {{ parent() }}{% endblock %}

{% set settings = settings_manager.get() %}

{% block body %}
    <div class="auth-page-wrapper pt-5 m-t-40">
        <div class="auth-page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">
                            <div class="card-body">
                                <h3 class="text-center mt-0 m-b-15">
                                    <a href="{{ path('homepage') }}" class="logo logo-admin">
                                        <img src="{{ vich_uploader_asset(settings, 'logoFile')|imagine_filter('small_logo') }}" alt="logo">
                                    </a>
                                </h3>
                                <h4 class="text-muted text-center font-18"><b>{{ 'ui.request'|trans }}</b></h4>
                                <div class="p-3">
                                    <form action="{{ path('resetting_send') }}" method="post" class="form-horizontal">
                                        {% if error is defined and error is not null %}
                                            <div class="alert alert-danger">
                                                {{ error.messageKey|trans(error.messageData, 'security') }}
                                            </div>
                                        {% endif %}

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="email">{{ 'ui.email'|trans }}</label>
                                                <input type="text" id="email" name="email" class="form-control"
                                                       {% if email is defined %}value="{{ email }}"{% else %} autofocus{% endif %}/>
                                            </div>
                                        </div>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                        <div class="form-group text-center row m-t-20">
                                            <div class="col-12">
                                                <button class="btn btn-info btn-block waves-effect waves-light" type="submit">
                                                    {{ 'ui.button.resetting'|trans }}
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}