{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">{{ 'ui.diet_plans'|trans }}</li>
    <li class="breadcrumb-item active">{{ 'ui.meal_plans'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header border-bottom-dashed">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm">
                            <h5 class="card-title mb-0">{{ 'ui.meal_plans'|trans }}</h5>
                        </div>
                        <div class="col-sm-auto">
                            <div class="d-flex flex-wrap align-items-start gap-2">
                                <a href="{{ path('professional_meal_plan_new') }}" class="btn btn-primary btn-label right">
                                    <i class="ri-add-line label-icon"></i>
                                    {{ 'ui.button.new_meal_plan'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <div class="card-body border-bottom-dashed border-bottom">#}
                {#                    <div class="row g-3">#}
                {#                        <div class="col">Col 1</div>#}
                {#                        <div class="col">Col 2 - Filter</div>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="card-body">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-striped mb-0">
                            <thead class="text-muted table-light">
                            <th>
                                <i class="bx bx-sort-alt-2 align-middle"></i>
                                {{ knp_pagination_sortable(pagination, 'ui.title'|trans, 'o.title') }}
                            </th>
                            <th>{{ 'ui.days'|trans }}</th>
                            <th>{{ 'ui.status'|trans }}</th>
                            <th>{{ 'ui.action'|trans }}</th>
                            </thead>
                            <tbody>
                            {% for mealPlan in pagination %}
                                <tr>
                                    <td>
                                        <a href="{{ path('professional_meal_plan_edit', {'id': mealPlan.id}) }}">
                                            {{ mealPlan.title }}
                                        </a>
                                    </td>
                                    <td>{{ include('includes/_meal_plan_days.html.twig') }}</td>
                                    <td>
                                        {% if mealPlan.active %}
                                            <span class="badge bg-success-subtle text-success">{{ 'ui.active'|trans }}</span>
                                        {% else %}
                                            <span class="badge bg-danger-subtle text-danger">{{ 'ui.inactive'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td nowrap>
                                        <a class="btn btn-sm btn-light"
                                           href="{{ path('professional_meal_plan_edit', {'id': mealPlan.id}) }}">
                                            {{ 'ui.edit'|trans }}
                                        </a>
                                        <button type="button" class="btn btn-sm btn-soft-danger"
                                                onclick="removeEntity('{{ path('professional_meal_plan_remove', {'id': mealPlan.id}) }}')">
                                            <i class="ri-delete-bin-5-line align-middle"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        {# display navigation #}
                        <div class="d-flex justify-content-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}